@import "vendor/bootstrap.css";
@import "vendor/animate.css";

@blue : #37AAE4;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

@font-face
{
    font-family: quicksandLight;
    src: url('fonts/Quicksand/Quicksand_Light.otf'),
}

@font-face
{
    font-family: quicksandBook;
    src: url('fonts/Quicksand/Quicksand_Book.otf'),
}

body {
    height:100%; 
    width:100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    #header{
        position:absolute; 
        top:0px; 
        left:0px; 
        height:50px;
        line-height: 50px;
        right:0px;
        overflow:hidden;

        .navbar{
            background-color: #fff;
            padding-left: 5px;
        }

        #title{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            color: @blue;
            float: left;
            padding: 25px 10px 25px 5px;
        }

        #settings{
            position: absolute;
            top: 0;
            right: 0;
            color: black;

            .icon-settings{
                background: url('../images/settings.png') no-repeat center center;
                padding: 25px 25px;
                margin-right: 10px;
                background-size: 50%;
                background-position: 20% 80%;
                opacity: 0.8;
            }
        }

        .btn{
            padding: 5px 10px !important;
        }

        #cancel-todo{
            position: absolute;
            top: 3px;
            left: 10px;
        }

        #create-todo{
            position: absolute;
            top: 3px;
            right: 10px;
        }

        #new-todo-title{
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            color: @blue;
            padding-top: 25px;
        }
    }

    .container{
        height: 100%;
    }

    #content{
        position:absolute; 
        top:50px; 
        bottom:0px; 
        left:0px; 
        right:0px; 
        overflow:auto;
    }

    #footer{
        position:absolute; 
        bottom:0px; 
        height:50px; 
        line-height: 50px;
        left:0px; 
        right:0px; 
        overflow:hidden;
        background-color: grey;
        color: white;
        text-align: center;
    }

    #calendar {
        min-height: 260px;
        padding: 10px 0px;

        .date {
            width: 14.28%;
            float: left;
            text-align: center;
            height: 40px;
            font-size: 22px;
            color: #ccc;
            font-weight: 100;
            cursor: pointer;

            &.label {
                font-size: 11px !important;
                background: none;
                font-weight: 500 !important;
                height: 20px;
            }

            &.current{
                color: #999;

                &.hasTodo{
                    color: @blue;
                }
            }

            &.selected{
                color: #555;
                font-weight: 400;

                .date-wrapper{
                    margin: 0 5px;
                    border-bottom: 2px solid red;
                }
            }

            &.hasTodo{
                color: lighten(@blue, 20%);
            }

            &.pastDue{
                color: salmon;
            }
        }
    }


    @todoBase: #6E9796;
    @redShade : rgb(238, 116, 116);
    @blueShade : rgb(131, 196, 221);

    #todo{
        background-color:  lighten(@blueShade, 10%);
        padding:10px;
        font-size: 24px;
        text-align: center;
        line-height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 40%;

        &.fullscreen{
            bottom: -10px;
            background-color: lighten(@blueShade, 30%);
            padding: 20px 0px;
            height: 100%;
        }

        #add-new{

            .border{
                width: 50%;
                height: 30%;
                line-height: 100px;
                margin: 35% 25%;
                margin-top: 30px;
            }
        }

        #new-todo-form{

            height: 100%;

            textarea, input{
                border: none;
                width: 100%;
                resize: none;
                font-size: 18px;
                font-weight: 200;
                background: none;
                -webkit-appearance:none;
                box-shadow: none;
            }

            textarea:focus, input:focus{
                outline: 0;
                border:none !important;
                box-shadow:none !important;
            }

            .element{
                width: 100%;

                .label-helper{
                    display: inline;
                    float: left;
                    line-height: 37px;
                    margin-left: 10px;
                    color: #888;
                    font-weight: 300;
                }

                &.title-wrapper{
                    height: 100%;

                    .title{
                        height: 100%;
                    }
                }

                &.last{
                    height: 100%;
                }
            }

            

            .date{
                font-weight: 300;
                width: 50%;
                color: lighten(@blue, 10%);
            }

            .notes{
                padding-top: 20px;
            }
        }

        #todo-preview{

            position: relative;
            color: white;
            height: 100%;

            #show-full-todo{
                position: absolute;
                right: 3px;
                top: 3px;
                font-size: 11px;
                display: none;
            }

            .text {
                padding: 20px;
                font-size: 28px;
                font-weight: 100;
                line-height: 40px;
            }

            .quotes{
                font-family: quicksandBook;
                font-size: 40px;
                display: inline;
                display: none;
            }

            .completed-wrapper{
                position: absolute;
                margin: 0 auto;
                width: 100%;
                bottom: 35px;
                display: none;

                .completed{
                    width: 50%;
                }
            }
        }

        #details{
            background-color: lighten(@blueShade, 10%) !important;
            color: white;
            height: 100%;
            font-weight: 100;
            padding: 20px 10px;

            .text-wrapper{
                margin: 10px 0px;
                text-align: justify;
                
                .text{
                    line-height: 40px;
                }
            }

            .notes-wrapper{
                margin: 10px 0px;
            }

            .due-wrapper{
                margin: 10px 0px;
            }

            .completed-wrapper{
                position: absolute;
                margin: 0 auto;
                width: 100%;
                bottom: 35px;

                .completed{
                    width: 50%;
                }
            }
        }

    }

}