@import "vendor/bootstrap.css";

@import "vendor/animate.css";
@font-face {
  font-family: quicksandLight;
  src: url('fonts/Quicksand/Quicksand_Light.otf');
}
@font-face {
  font-family: quicksandBook;
  src: url('fonts/Quicksand/Quicksand_Book.otf');
}
body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body #header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  line-height: 50px;
  right: 0px;
  overflow: hidden;
}
body #header .navbar {
  background-color: #fff;
  padding-left: 5px;
}
body #header #title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #37aae4;
  float: left;
  padding: 25px 10px 25px 5px;
}
body #header #settings {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
}
body #header #settings .icon-settings {
  background: url('../images/settings.png') no-repeat center center;
  padding: 25px 25px;
  margin-right: 10px;
  background-size: 50%;
  background-position: 20% 80%;
  opacity: 0.8;
}
body #header .btn {
  padding: 5px 10px !important;
}
body #header #cancel-todo {
  position: absolute;
  top: 3px;
  left: 10px;
}
body #header #create-todo {
  position: absolute;
  top: 3px;
  right: 10px;
}
body #header #new-todo-title {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #37aae4;
  padding-top: 25px;
}
body .container {
  height: 100%;
}
body #content {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
body #footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: grey;
  color: white;
  text-align: center;
}
body #calendar {
  min-height: 260px;
  padding: 10px 0px;
}
body #calendar .date {
  width: 14.28%;
  float: left;
  text-align: center;
  height: 40px;
  font-size: 22px;
  color: #ccc;
  font-weight: 100;
  cursor: pointer;
}
body #calendar .date.label {
  font-size: 11px !important;
  background: none;
  font-weight: 500 !important;
  height: 20px;
}
body #calendar .date.current {
  color: #999;
}
body #calendar .date.current.hasTodo {
  color: #37aae4;
}
body #calendar .date.selected {
  color: #555;
  font-weight: 400;
}
body #calendar .date.selected .date-wrapper {
  margin: 0 5px;
  border-bottom: 2px solid red;
}
body #calendar .date.hasTodo {
  color: #91d0f0;
}
body #calendar .date.pastDue {
  color: salmon;
}
body #todo {
  background-color: #abd7e8;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40%;
}
body #todo.fullscreen {
  bottom: -10px;
  background-color: #fbfdfe;
  padding: 20px 0px;
  height: 100%;
}
body #todo #add-new .border {
  width: 50%;
  height: 30%;
  line-height: 100px;
  margin: 35% 25%;
  margin-top: 30px;
}
body #todo #new-todo-form {
  height: 100%;
}
body #todo #new-todo-form textarea,
body #todo #new-todo-form input {
  border: none;
  width: 100%;
  resize: none;
  font-size: 18px;
  font-weight: 200;
  background: none;
  -webkit-appearance: none;
  box-shadow: none;
}
body #todo #new-todo-form textarea:focus,
body #todo #new-todo-form input:focus {
  outline: 0;
  border: none !important;
  box-shadow: none !important;
}
body #todo #new-todo-form .element {
  width: 100%;
}
body #todo #new-todo-form .element .label-helper {
  display: inline;
  float: left;
  line-height: 37px;
  margin-left: 10px;
  color: #888;
  font-weight: 300;
}
body #todo #new-todo-form .element.title-wrapper {
  height: 100%;
}
body #todo #new-todo-form .element.title-wrapper .title {
  height: 100%;
}
body #todo #new-todo-form .element.last {
  height: 100%;
}
body #todo #new-todo-form .date {
  font-weight: 300;
  width: 50%;
  color: #64bdea;
}
body #todo #new-todo-form .notes {
  padding-top: 20px;
}
body #todo #todo-preview {
  position: relative;
  color: white;
  height: 100%;
}
body #todo #todo-preview #show-full-todo {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 11px;
  display: none;
}
body #todo #todo-preview .text {
  padding: 20px;
  font-size: 28px;
  font-weight: 100;
  line-height: 40px;
}
body #todo #todo-preview .quotes {
  font-family: quicksandBook;
  font-size: 40px;
  display: inline;
  display: none;
}
body #todo #todo-preview .completed-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: 35px;
  display: none;
}
body #todo #todo-preview .completed-wrapper .completed {
  width: 50%;
}
body #todo #details {
  background-color: #abd7e8 !important;
  color: white;
  height: 100%;
  font-weight: 100;
  padding: 20px 10px;
}
body #todo #details .text-wrapper {
  margin: 10px 0px;
  text-align: justify;
}
body #todo #details .text-wrapper .text {
  line-height: 40px;
}
body #todo #details .notes-wrapper {
  margin: 10px 0px;
}
body #todo #details .due-wrapper {
  margin: 10px 0px;
}
body #todo #details .completed-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: 35px;
}
body #todo #details .completed-wrapper .completed {
  width: 50%;
}
