<div id="new-todo-form">
    <div class="element title-wrapper">
        <span class="label-helper">On</span> <input type="text" class="date" placeholder="The date" data-date="<%-date %>" value="<%-formattedDate + ' ...' %>" disabled />
        <textarea rows="3" class="title" placeholder="I want to.."></textarea>
    </div>

    <!--
    <div class="element last">
        <textarea rows="3" class="notes" placeholder="More details"></textarea>
    </div>
    -->
</div>