<div class="navbar">
    <div id="cancel-todo">
          <button type="button" class="btn btn-danger cancel-todo-btn">Cancel</button>
    </div>
    <a class="navbar-brand" href="#" id="new-todo-title">New Task</a>
    <div id="create-todo">
        <button type="button" class="btn btn-primary create-todo-btn">Create</button>
    </div>
</div>
                