<div id="calendar">

<%
    _.each(dayLabels, function(label){
        %>
            <div class="date label">
                <%-label %>
            </div>
        <%
    });
%>

<%
    while(firstDate.isBefore(lastDate) || firstDate.isSame(lastDate)){

        var dateHasTodo = _.find(datesWithTodos, function(date){ return date == firstDate.format('MM-DD-YYYY'); });
        var isPastDue = firstDate.isBefore(moment());

        %>
            <div class="date <%-firstDate.isSame(currentDate, 'month') ? 'current' : '' %> <%-firstDate.isSame(currentDate) ? 'selected' : '' %> <%-dateHasTodo ? 'hasTodo' : '' %> <%-(isPastDue && dateHasTodo) ? 'pastDue' : '' %>" data-full-date="<%-firstDate.format('MM-DD-YYYY') %>">
                <div class="date-wrapper">
                    <%-firstDate.format('D') %>
                </div>
            </div>
            <% firstDate.add('days', 1) %>
        <%
    }
%>

</div>

<div id="todo">

</div>