<div id="details" data-todo-id="<%-todo.id %>">

    <div class="navbar">
        <a class="navbar-brand animated fadeInDown" href="#" id="title">xys</a>
        <div id="settings">
            <span class="icon-settings"></span>
        </div>
    </div>

    <% console.log('in full todo', todo) %>

    <div class="text-wrapper">
        <span class="text"><%-todo.text %></span>
    </div>

    <div class="notes-wrapper">
        <span class="notes"><%-todo.notes %></span>
    </div>

    <div class="due-wrapper">
        <span class="due"><%-todo.due %></span>
    </div>

    <div class="completed-wrapper">
        <% if(!todo.completed){ %>
            <button type="button" id="mark-complete" class="btn btn-info completed">Mark Complete</button>
        <% } %>
    </div>

</div>