<div id="todo-preview" data-todo-id="<%-todo.id %>">

    <div id="show-full-todo">
        UP
    </div>

    <% console.log('the todo', todo); %>

    <div class="text">
        <span class="quotes">"</span>
            <%-todo.text %>
        <span class="quotes">"</span>
    </div>

    <div class="completed-wrapper">
        <button type="button" id="mark-complete" class="btn btn-info completed">Mark Complete</button>
    </div>

</div>